@font-face {
  font-family: "iconfont"; /* Project id 2824709 */
  src: url('iconfont.woff2?t=1633696576179') format('woff2'),
       url('iconfont.woff?t=1633696576179') format('woff'),
       url('iconfont.ttf?t=1633696576179') format('truetype'),
       url('iconfont.svg?t=1633696576179#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zanting:before {
  content: "\e667";
}

.icon-huifang:before {
  content: "\e84d";
}

.icon-shishi:before {
  content: "\e626";
}

.icon-huazhi:before {
  content: "\e6a1";
}

.icon-bili:before {
  content: "\e64c";
}

.icon-FullScreen:before {
  content: "\e601";
}

.icon-jieshu:before {
  content: "\e6ed";
}

.icon-kaishi:before {
  content: "\e6ec";
}

.icon-duankai:before {
  content: "\e61b";
}

.icon-lianjie:before {
  content: "\e612";
}

.icon-lianjiezhong:before {
  content: "\e729";
}

.icon-zuixiaohua:before {
  content: "\e629";
}

.icon-zuidahua:before {
  content: "\e60d";
}

.icon-guanbi:before {
  content: "\e61a";
}

.icon-genzong:before {
  content: "\e681";
}

